@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}
:root {
    /* Container */
    --container-width: 85%;
    /* Colors */
    --color-grey-bright: #F0F0F0;
    --color-grey-dark: rgba(52, 52, 52, 0.55);
    --color-blue: #004DFF;
    /* Input parameters */
    --inp-padding: 16px 24px;
    /* Border parameters */
    --border-radius: 10px;
    --border-grey: 1.5px solid var(--color-grey-dark);
    --table-padding: 15px 0 4px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    font-weight: 600;
}
button {
    cursor: pointer;
}
button, input {
    font-weight: 600;
    font-size: 16px;
    padding: var(--inp-padding);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
}
main {
    width: 100%;
}
.main__container {
    max-width: 95%;
    min-width: 30%;
    width: var(--container-width);
    margin: 60px auto;
}
.container__heading {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.type__changer {
    color: white;
    background-color: var(--color-blue);
}
.adder {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.user__adder-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.user__adder-input label {
    font-weight: 600;
    font-size: 16px;
}
.user__adder-input input {
    font-weight: 700;
    border: var(--border-grey);
}
.user__adder-btn {
    font-weight: 600;
    color: white;
    background-color: var(--color-blue);   
}
.container__content {
    width: 100%;
    margin-top: 30px;
}
.users__list-table {
    transition: .3s ease;
    display: table;
    opacity: 1;
    width: 100%;
}
tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: centers;
    text-align: center;
    border-bottom: var(--border-grey);
    padding: var(--table-padding);
}
td, th {
    font-size: 16px;
    width: 100%;
    text-align: center;
} 
td img {
    cursor: pointer;
}
td:first-child, th:first-child {
    text-align: left;
    width: 10%;
}

td:last-child, th:last-child {
    text-align: right;
    width: 30%;
}
td:last-child img:not(td:last-child img:last-child) {
    margin-right: 6px;
}
th {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-grey-dark);
}
td {
    font-weight: 600;
}
tbody {
    transition: .4s ease;
}
/* ________________________Users card list__________________________ */
.users__list-card {
    transition: .3s ease;
    display: none;
    opacity: 0;
    padding: 0 8px;
    position: relative;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.users__list-card::before {
    content: '';
    position: absolute;
    height: 100%;
    border-left: var(--border-grey);
    top: 0;
    left: 33%;
}
.users__list-card::after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: var(--border-grey);
    top: 0;
    right: 33%;
}
.user__age {
    transition: .4s ease;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.box h2 {
    font-size: 30px;
}
.user-age {
    font-size: 14px;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 10px 12px;
    background-color: var(--color-grey-bright);
    display: flex;
    justify-content: space-between;
}
.line {
    margin: 0 20px;
    width: .1%;
    border-radius: var(--border-radius);
    background-color: var(--color-grey-dark);
}
.box {
    cursor: pointer;
    transition: .4s ease;
    border-radius: var(--border-radius);
    width: 70%;
    box-shadow: 4px 4px 10px rgb(42, 42, 42),
    -2px -2px 10px rgb(212, 212, 212),
    inset 3px 3px 10px rgb(228, 226, 226),
    inset -2px -2px 10px rgb(187, 187, 187);
    min-width: 50%;
    max-width: 90%;
    /* border: var(--border-grey); */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}